<h1 class="text-center">
  Your Cocktails
</h1>
<ul>
  <% @cocktails.each do |cocktail| %>
    <div class="product">
      <div class='product-body'>
        <h3>
          <%= link_to cocktail.name, cocktail_path(cocktail) %>
        </h3>
      </div>
    </div>
  <% end %>
</ul>
