<h1 class="text-center">
  Your Cocktails
</h1>

  <% @cocktails.each do |cocktail| %>

    <div class="col-xs-12 col-sm-4 preview">
    <%= link_to(cocktail_path(cocktail)) do %>
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cloudinary_url cocktail.photo.url(:show) %>');">

      <div class="card-description">
        <h2><%= cocktail.name %></h2>
        <p>Simply the best.</p>
      </div>

      <div class="remove">
        <%= link_to cocktail_path(cocktail), method: :delete,ndata: { confirm: 'Are you sure you want to delete this article?'} do %>
        <i class="fa fa-trash-o"></i>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
  <% end %>

</div>
</div>
</ul>
