<div class="media">
  <div class="media-body">
    <div class="media-section">
      <h2><%= @cocktail.name %></h2>
      <img src="https://hd.unsplash.com/photo-1444728399417-08d2aa39e6f4">
    </div>
  </div>
  <div class="media-aside">
    <div class="media-section">
      <h2>Ingredients</h2>
      <% @cocktail.doses.each do |dose| %>
      <%= dose.description %>
      <%= dose.ingredient.name %>
      <% end %>
    </div>
    <div class="media-section">
      <h3>Add ingredient</h3>
      <%= render 'doses/form', dose: @dose, cocktail: @cocktail %>
    </div>
  </div>
</div>
